<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.auto_warehouse.mapper.AdminMapper">
    <select id="findAdmin" resultType="com.example.auto_warehouse.bean.Admin">
      select * from myscoremanage.admin where account=#{0} and psw=#{1}
    </select>

</mapper>
